[*]
end_of_line = crlf

[*.xml]
indent_style = space

# CSharp formatting settings:
[*.cs]
csharp_new_line_before_open_brace = methods, properties, types
csharp_new_line_before_else = false
csharp_space_after_keywords_in_control_flow_statements = false
